
  
    
 .radio{
    border:1px solid black;
    border-radius:4px;
    width:600px;
    height:50px;
    display:inline-flex
 }
 .text{
    text-align:center;
    margin-left:40px;
    margin-top:12px
 }
.button1{
    width:600px;
    height:50px;
    background-color: pink;
    border-radius: 7px;
}
.button1:hover{
   background-color: brown;
}
